 <!DOCTYPE html>
<html>
 <title>DocTagCloud</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="author" content="Swapnilsocial">
 <link rel="stylesheet" href="{{ url_for('static',filename='formats.css')}}">
<link rel="stylesheet"  type="text/css" href="{{ url_for('static', filename='tagcloud.css')}}">
<link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
<style>
</style>

<head>

</head>
<body>

<div>

<ul class="cloud" role="navigation" aria-label="Webdev word cloud">


 <li><a href="" data-weight="26">Smallpdf</a></li>

</ul>

</div>
<!-- Footer -->
<div>
</div>
</body>
</html>



