 <!DOCTYPE html>
<html>
 <title>DocTagCloud</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="author" content="Swapnilsocial">
 <link rel="stylesheet" href="{{ url_for('static',filename='formats.css')}}">
<link rel="stylesheet"  type="text/css" href="{{ url_for('static', filename='tagcloud.css')}}">
<link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
<style>
</style>

<head>

</head>
<body>

<div>

<ul class="cloud" role="navigation" aria-label="Webdev word cloud">


 <li><a href="" data-weight="12">companies</a></li>
 <li><a href="" data-weight="14">software</a></li>
 <li><a href="" data-weight="20">uccel</a></li>
 <li><a href="" data-weight="18">associates</a></li>
 <li><a href="" data-weight="15">company</a></li>
 <li><a href="" data-weight="11">earnings</a></li>
 <li><a href="" data-weight="9">ibm</a></li>
 <li><a href="" data-weight="24">computer</a></li>
 <li><a href="" data-weight="15">dlrs</a></li>
 <li><a href="" data-weight="12">mln</a></li>
 <li><a href="" data-weight="12">wang</a></li>
 <li><a href="" data-weight="10">pct</a></li>
 <li><a href="" data-weight="9">share</a></li>
 <li><a href="" data-weight="10">analysts</a></li>
 <li><a href="" data-weight="9">liemandt</a></li>
 <li><a href="" data-weight="14">merger</a></li>

</ul>

</div>
<!-- Footer -->
<div>
</div>
</body>
</html>



