<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=yes">
  <title>Upload files with Flask</title>
</head>
<body>
<h1>Upload files<h1>

    <form method=post enctype=multipart/form-data>
      <input type=file name=file multiple>
      <input type=submit value=Upload>
    </form>

{%- if files %}
  <h2>Files uploaded successfully so far</h2>

  <ul>
  {%- for code, file in files.items() %}
      <li><a href="http://localhost:5601/app/kibana#/dashboard/afc18cb0-a7b1-11ec-a5a8-8f787e08168d?_g=(filters:!())&_a=(description:'',filters:!(),fullScreenMode:!f,options:(darkTheme:!f,hidePanelTitles:!f,useMargins:!t),panels:!((embeddableConfig:(),gridData:(h:29,i:'1',w:37,x:0,y:0),id:'082f4b90-a7b1-11ec-a5a8-8f787e08168d',panelIndex:'1',type:visualization,version:'6.8.23'),(embeddableConfig:(),gridData:(h:29,i:'2',w:11,x:37,y:0),id:'78dc8290-a7b1-11ec-a5a8-8f787e08168d',panelIndex:'2',type:visualization,version:'6.8.23')),query:(language:kuery,query:''),timeRestore:!f,title:'Tagcloud%20dashboard',viewMode:view)">{{ file }}</a></li>
  {% endfor %}
  </ul>
{% endif %}

</body>
</html>